/* Assignment Box Container */
.assignment-box {
  width: 90vw;
  max-width: 1100px;
  margin: 20px auto;
  padding: 20px;
}

/* Assignment List */
.assignment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Individual Assignment Item */
.assignment-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fffff0; /* Ivory background for theme */
  border: 1px solid #e0e0e0;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #004d4d; /* Deep teal for bottom border */
  border-radius: 8px;
}

/* Assignment Content Section */
.assignment-content {
  flex: 1;
  margin-right: 20px;
}

/* Assignment Title */
.assignment-title {
  font-size: 20px;
  font-weight: bold;
  color: #004d4d;
  margin: 0;
}

/* Assignment Description */
.assignment-description {
  font-size: 16px;
  color: #4b4a4a;
  margin: 10px 0;
}

/* Assignment Info Section */
.assignment-info {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #777;
  font-size: 14px;
}

/* Subject and Submission Date Styling */
.subject-style,
.date-style {
  font-weight: bold;
}

.subject-style {
  color: #17794f; /* Dark olive green */
}

.date-style {
  color: #555;
}

/* Header with Sorting and Filtering Options */
.assignment-header {
  margin: 20px auto;
  width: 150px;
  padding: 10px 15px;
  border: 1px solid #004d4d;
  border-radius: 5px;
  background-color: #f5f5dc;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}
.filter-dropdown {
  color: #004d4d;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Assignment Status Badge */
.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.status-upcoming {
  background-color: #17794f; /* Dark Olive Green */
  color: #fffff0;
}

.status-due-soon {
  background-color: #ffcc00; /* Yellow */
  color: #333;
}

.status-past-due {
  background-color: #ff5c5c; /* Red */
  color: #fff;
}

/* teacher assignment page */
.teacher-assignment-box {
  /* border: 1px solid black; */
  width: 90vw;
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;
}
.add-assignment-button {
  background-color: #004d4d;
  border-radius: 12px;
  color: #fffff0;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.add-assignment-button:hover {
  background: linear-gradient(135deg, #498080, #004d4d);
  transform: translateY(-2px);
}

.button-div {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.assignment-options {
  display: flex;
  gap: 25px;
  margin-right: 20px;
  margin-top: 25px;
}

.assignment-options .fa-icon {
  color: #004d4d;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.assignment-options .fa-icon:hover {
  color: #007373;
  transform: scale(1.1);
}

.assignment-options .fa-icon-trash {
  color: #bd3005;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.assignment-options .fa-icon-trash:hover {
  color: #fc2d11;
  transform: scale(1.1);
}

.assignment-details-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  border-radius: 12px;
  background-color: #fffff0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 25px;
  max-height: 75vh;
  overflow-y: auto;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.assignment-details {
  margin-top: 20px;
}

.assignment-details h2 {
  font-size: 24px;
  color: #004d4d;
}

.assignment-details p {
  font-size: 18px;
  color: #555;
}

.assignment-details p strong {
  font-weight: bold;
}

/* Add styling for the title, subject, and submission date in the modal */
.assignment-details p {
  margin: 10px 0;
}


.form-submit{
  display: flex;
 gap: 10px;
}