.page-header {
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #004d4d;
  border-bottom: 3px solid #004d4d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.closebutton.editform {
  position: absolute;
  right: 18px;
  top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.editform:hover {
  background-color: #ceeaea;
  border-radius: 4px;
}

.closebutton.chatbox {
  position: absolute;
  right: 18px;
  top: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.chatbox:hover {
  background-color: #047272;
  border-radius: 4px;
}
