/*page header styles*/
.page-header {
  margin-top: 80px;
  padding: 10px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #004d4d;
  border-bottom: 3px solid #004d4d;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/*close button styles*/

.closebutton.editform {
  position: absolute;
  right: 18px;
  top: 29px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.editform:hover {
  background-color: #ceeaea;
  border-radius: 4px;
}

.closebutton.chatbox {
  position: absolute;
  right: 18px;
  top: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.chatbox:hover {
  background-color: #047272;
  border-radius: 4px;
}

.closebutton.syllabusform {
  position: absolute;
  right: 24px;
  top: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.syllabusform:hover {
  background-color: #ceeaea;
  border-radius: 4px;
}

.closebutton.articlelist {
  position: absolute;
  right: 35px;
  top: 23px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.articlelist:hover {
  background-color: #ceeaea;
  border-radius: 4px;
}

.closebutton.assignmentbox {
  position: absolute;
  right: 35px;
  top: 23px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.closebutton.assignmentbox:hover {
  background-color: #ceeaea;
  border-radius: 4px;
}

/* buttongroup styling */
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.submit-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.submit-button {
  background: linear-gradient(135deg, #004d4d, #498080);
  color: #fffff0;
}

.submit-button:hover {
  background: linear-gradient(135deg, #498080, #004d4d);
  transform: translateY(-2px);
}

.cancel-button {
  background-color: #a30707;
  color: #fffff0;
}

.cancel-button:hover {
  background-color: #d23636;
  transform: translateY(-2px);
}

/* form header design */

.syllabus-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #004d4d;
  padding-bottom: 16px;
  border-bottom: 2px solid #004d4d;
  margin-bottom: 12px;
}

.syllabus-form-header h4 {
  margin: 0;
  font-size: 25px;
}

/* form-design */

.form-design {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  border-radius: 12px;
  background-color: #fffff0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 25px;
  max-height: 75vh;
  overflow-y: auto;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
