#nav {
  background-color: #004D4D;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}
#nav .logo{
  margin-right: 50px;
  margin-left:50px ;
}

.menuitem {
  display: flex;
  gap: 90px;
  margin-left: 150px;
}

#nav a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

#nav a:hover {
  color: #a7bba0;
}

.user{
  margin-left: 100px;
}
