#nav {
  background-color: #004d4d;
  height: 90px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#nav .logo {
  /* margin-right: 50px; */
  margin-left: 50px;
}

.menuitem {
  display: flex;
  gap: 90px;
  margin-left: 100px;
}

#nav a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

#nav a:hover {
  color: #a7bba0;
}

.user {
  margin-left: 100px;
}
.user-icon {
  color: #f0f0f0;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: #004d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 120px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.dropdown a {
  padding: 10px;
  color: #004d4d;
  text-decoration: none;
  border-bottom: 1px solid #f0f0f0;
}

#nav .dropdown a:hover {
  border-radius: 5px;
  color: #a7bba0;
}
/* Dropdown logout button */
.dropdown .logout-button {
  background: none;
  border: none;
  color: #f0f0f0;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.dropdown .logout-button:hover {
  color: #a7bba0;
  border-radius: 5px;
}

.logout-box {
  background-color: #e0e0e0;
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px;
  width: 300px;
  height: 130px;
  text-align: center;
}

.logout-box h3 {
  margin-bottom: 30px;
}

.logout-overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirm-button {
  background: linear-gradient(135deg, #004d4d, #498080);
  color: #fffff0;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.confirm-button:hover {
  background: linear-gradient(135deg, #498080, #004d4d);
  transform: translateY(-2px);
}

.cancel-button {
  background-color: #a30707;
  color: #fffff0;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* univeristy navbar */
.university-menuitem {
  display: flex;
  gap: 120px;
  margin-left: 150px;
}

.logout-icon {
  margin-left: 100px;
  color: white;
  cursor: pointer;
}

.menu-link {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
.menu-link:hover {
  color: #a7bba0;
  cursor: pointer;
}

.syllabus-dropdown {
  position: absolute;
  top: 60px;
  left: 290px;

  background-color: #004d4d;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.syllabus-dropdown a {
  padding: 10px;
  color: #004d4d;
  text-decoration: none;
  border-bottom: 1px solid #f0f0f0;
}
