/* side bar style */

.sidebar {
  background-color: #004d4d;
  color: #fffff0;
  width: 150px;
  height: 75vh;
  position: fixed;
  top: 100px;
  left: 10px;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar p {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  color: #fffff0;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.sidebar p:hover {
  background-color: #4b8282;
}

.sidebar p:active {
  background-color: #4b8282;
}
.profile-container {
  display: flex;
}
.content-area {
  margin-left: 220px;
  padding: 20px;
  width: calc(100% - 220px);
  margin-top: 100px;
  margin-right: 20px;
}
.sidebar p.active {
  background-color: #498080;
  font-weight: bold;
}

/* general tab style */
.generaltab-style {
  width: 500px;
  height: auto;
  border-radius: 20px;
  background-color: #d9ead3;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* softer shadow for a more modern look */
  padding: 25px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 59%;
  left: 59%;
  transform: translate(-50%, -50%);
  max-height: 495px;
  overflow-y: auto;
}

/* Profile picture styling */
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  background-color: #fffff0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  margin-right: 0px;
}

/* Header section styling */
.header-part {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 16px;
  margin-top: 12px;
}

.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px;
  position: relative;
}
.profile-header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #004d4d;
  font-size: 24px;
  margin-bottom: 32px;
}

.profile-details {
  font-size: 20px;
  line-height: 1.8;
  color: #004d4d;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 15px;
}

.profile-details p {
  margin: 0;
  margin-bottom: 15px;
}

.profile-details b {
  font-weight: bold;
}

.generaltab-style::-webkit-scrollbar {
  display: none;
}

.edit-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}

/* edit form styling */
.edit-form {
  position: fixed;
  width: 450px;
  border-radius: 12px;
  background-color: #fffff0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 8px;
  max-height: 75vh;
  overflow-y: auto;
}

.form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #004d4d;
  padding-bottom: 16px;
  border-bottom: 2px solid #004d4d;
  margin-bottom: 12px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-fields input {
  padding: 9px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 95%;
}
.form-fields input:focus {
  border-color: #004d4d;
  box-shadow: 0 0 5px rgba(0, 77, 77, 0.3);
  outline: none;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.submit-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.submit-button {
  background: linear-gradient(135deg, #004d4d, #498080);
  color: #fffff0;
}

.submit-button:hover {
  background: linear-gradient(135deg, #498080, #004d4d);
  transform: translateY(-2px);
}

.cancel-button {
  background-color: #a30707;
  color: #fffff0;
}

.cancel-button:hover {
  background-color: #d23636;
  transform: translateY(-2px);
}

.edit-form::-webkit-scrollbar {
  display: none;
}

.form-field-data {
  display: flex;
  gap: 24px;
}

.form-field-data .form-field {
  flex: 1;
}

/* myclub styles */
.tab-style {
  width: 100%;
  max-width: 965px;
  height: auto;
  margin: auto;
  border-radius: 12px;
  padding: 20px;
  background-color: #d9ead3;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.tab-header h1 {
  color: #004d4d;
  text-align: center;
  font-size: 38px;
  margin-bottom: 25px;
}

.clubs-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 15px;
}

.club-card {
  border: 1px solid #ccc;
  background-color: #8ab6a1;
  width: 250px;
  height: 290px;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.club-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.club-title {
  font-size: 24px;
  color: #004d4d;
  font-weight: bold;
  margin-bottom: 5px;
}
.club-image {
  width: 100%;
  height: 177.5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.club-image img {
  width: 100%; /* Set width to 100% of the container */
  height: 100%; /* Set height to 100% of the container */
  object-fit: cover; /* Ensures image fits without overflow */
  border-radius: 10px;
}
.club-button {
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 8px;
  border: none;
  color: #fffff0;
  background-color: #0e9797;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100px;
}

.club-button:hover {
  background-color: #498080;
}

/* assignment styling */
.tab-style {
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

.assignment-heading {
  font-size: 1.8rem;
  color: #004d4d;
  text-align: center;
  margin-bottom: 20px;
}

.assignment-present {
  padding: 20px;
  border-radius: 12px;
}

.assignment-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.assignment-table th,
.assignment-table td {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

.assignment-table th {
  background-color: #004d4d;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}

.assignment-table td {
  background-color: #fffff0;
  color: #17794f;
  font-size: 0.95rem;
}

.assignment-table th:first-child,
.assignment-table td:first-child {
  width: 70%; /* Increases the width of the "Assignments" column */
}

.assignment-table tr:hover {
  background-color: #f0f0e0;
}

.assignment-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

.assignment-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.activity-buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.view-button,
.download-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.view-button {
  background-color: #17794f; /* Olive Green */
  color: #ffffff;
}

.view-button:hover {
  background-color: #135d3d;
}

.download-button {
  background-color: #004d4d; /* Deep Teal */
  color: #ffffff;
}

.download-button:hover {
  background-color: #003a3a;
}

/* account tab styling */

.account-tab-style {
  width: 100%;
  max-width: 965px;
  height: 500px;
  margin: auto;
  border-radius: 12px;
  padding: 20px;
  background-color: #d9ead3;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.account-header {
  text-align: center;
  margin-bottom: 20px;
}

.account-header h2 {
  font-size: 28px;
  color: #0b3a26;
  font-weight: bold;
  margin: 0;
}

.student-info {
  /* display: flex;
  flex-wrap: wrap;
  gap: 70px; */
  padding: 20px;
  border-radius: 8px;
  color: #004d4d;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
}

.student-info p {
  margin: 0;
}
.fee-table {
  max-height: 500px;
  overflow: hidden;
  margin-left: 17px;
  margin-right: 17px;
}

.fee-table-design {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  height: 200px;
}

.fee-table-design th,
.fee-table-design td {
  padding: 12px;
  text-align: left;
}

.fee-table-design th {
  background-color: #004d4d;
  color: #ffffff;
  font-size: 1rem;
}

.fee-table-design td {
  background-color: #fffff0;
  color: #17794f;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  font-size: 0.95rem;
}

.fee-table-design tfoot td {
  font-weight: bold;
  background-color: #e8f5e9;
  color: #0b3a26;
  font-size: 1rem;
}
/* Fee Instruction Styling */
.fee-instruction {
  display: flex;
  gap: 90px;
  align-items: center;
  padding-left: 22px;
  margin-top: 20px;
}

.fee-instruction p {
  margin: 0;
  font-size: 0.95rem;
  font-weight: bold;
  color: #21a86e; 
}

.duedate {
  font-weight: normal;
  color: #004d4d; 
}

.status {
  padding: 4px 8px;
  border-radius: 4px;
  
}

.status.paid {
  color: #17794f; 
}

.status.unpaid {
  color: #d32f2f;
}

.status.pending {
  color: #ff9800;
}
