.result-box {
  width: 90vw;
  max-width: 1000px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
}

.result-info {
  border-bottom: 3px solid #004d4d;
  padding: 20px;
  font-size: 15px;
  color: #004d4d;
  line-height: 1.2;
}

.result-present {
  padding: 20px;
  border-radius: 12px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.result-table th,
.result-table td {
  border-bottom: 1px solid #e0e0e0;
}

.result-table th {
  background-color: #004d4d;
  color: #ffffff;
  font-weight: bold;
  padding: 15px;
}

.result-table td {
  background-color: #fffff0;
  color: #17794f;
  padding: 15px;
}

.result-table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
/* tr:last-child: Targets the last row in the table.
td:first-child: Selects the first cell in that last row. */

.result-table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

/* td:last-child: Selects the last cell in that last row. 
border-bottom-left-radius and border-bottom-right-radius: These add rounded corners specifically to the bottom left and bottom right of the table. */

.view-button {
  padding: 8px 15px;
  background-color: #004d4d; /* Deep Teal */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #003a3a;
}

.no-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #888;
  margin-top: 12px;
  background-color: #f5f5dc;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  height: 200px;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.result-type {
  margin-top: 18px;
  position: relative;
  margin-right: 24px;
  display: flex;
  justify-content: flex-end;
}

/* Dropdown styles */
.result-type select {
  padding: 10px 15px;
  border: 1px solid #004d4d;
  border-radius: 5px;
  background-color: #f5f5dc;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

/* Hover effect */
.result-type select:hover {
  border-color: #556b2f;
  background-color: #fffff0;
}

/* Focus effect */
.result-type select:focus {
  outline: none;
  border-color: #008c8c;
  box-shadow: 0 0 5px rgba(0, 140, 140, 0.5);
}
